{% extends "base.html" %}

{% block content %}
{% if status.errorMsg %}
<h4>
    <span>Gathering data failed :-(</span>
</h4>
<span>Exception: {{ status.errorMsg }}</span>
{% else %}
<table class="table table-condensed">
    <tbody>
        {% for row in status.exes %}
        <tr style="{{ row[0] }}">
            {% for col in row[1:] %}
            {% if 'tuple' in col.__class__.__name__ %}
            <td>
                <a data-toggle="tooltip" href="{{ col[2] }}" title="{{ col[1] }}">{{ col[0] }}</a>
            </td>
            {% else %}
            <td
                >{{col}}
            </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<h4>
    <span>Servers</span>
</h4>
{% if status.servers %}
<table class="table table-condensed">
    <tbody>
        {% for row in status.servers %}
        <tr style="{{ row[0] }}">
            {% for col in row[1:] %}
            <td>{{col}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>nothing to report</p>
{% endif %}
{% endif %}
{% endblock %}
