{% extends "base.html" %}

{% block content %}
<h4>
    <span>History for {{ servername }} ({{ status.history|length }} entries, most recent on top, {{ '%0.1f' % status.busyPercentage}}% busy)</span>
</h4>
<table class="table table-striped table-condensed">
    <tbody>
    {% for row in status.history %}
    <tr>
        {% for col in row %} {% if 'tuple' in col.__class__.__name__ %}
        <td><a data-toggle="tooltip" href="#" title="{{ col[1] }}">{{ col[0] }}</a></td>
        {% else %}
        <td>{{ col }}</td>
        {% endif %} {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
