{% extends "base.html" %}

{% block content %}
<h5>Executing ({{ counts.executing }} items)</h5>
<table class="table table-striped table-condensed">
    <tbody>
        {% for row in exes %}
        <tr class="{{ row[0] }}">
            {% for col in row[1:] %}
            {% if 'tuple' in col.__class__.__name__ %}
            <td><a data-toggle="tooltip" href="{{ col[2] }}" title="{{ col[1] }}">{{ col[0] }}</a></td>
            {% else %}
            <td>{{col}}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<h5>Servers ({{ counts.serverRemarks }} remarks)</h5>
<table class="table table-striped table-condensed">
    <tbody>
        {% for row in servers %}
        <tr class="{{ row[0] }}">
            {% for col in row[1:] %}
            <td>{{col}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<h5>Queued ({{ counts.queued }} items)</h5>
<table class="table table-striped table-condensed">
    <tbody>
        {% for row in queues %}
        <tr class="{{ row[0] }}">
            {% for col in row[1:] %}
            {% if 'tuple' in col.__class__.__name__ %}
            <td><a data-toggle="tooltip" href="#" title="{{ col[1] }}">{{ col[0] }}</a></td>
            {% else %}
            <td>{{ col }}</td>
            {% endif %} {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
