{% extends "base.html" %}

{% block content %}
{% if errorMsg %}
<h4>
    <span>Gathering data failed :-(</span>
</h4>
<span>Exception: {{ errorMsg }}</span>
{% else %}
<table class="table table-striped table-condensed">
    <tbody>
        {% for row in queues %}
        <tr class="{{ row[0] }}">
            {% for col in row[1:] %}
            {% if 'tuple' in col.__class__.__name__ %}
            <td><a data-toggle="tooltip" href="#" title="{{ col[1] }}">{{ col[0] }}</a></td>
            {% else %}
            <td>{{ col }}</td>
            {% endif %} {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
