{% extends "base.html" %}

{% block content %}

<form action="" method="post" name="get-date">
  {{ form.hidden_tag() }}
  <p>
    {{ form.startDate.label }}: {{ form.startDate(size=16) }} {{ form.submit() }}
    <br> {% for error in form.startDate.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
</form>

{% if counts|length == 0 %}
<h4>No queue counts available for {{ date.strftime('%Y-%m-%d') }}</h4>
{% else %}

<div class="container">
  <canvas id="myChart"></canvas>
</div>

<script src="static/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

<script>
  // labels and datasets.data is empty for now, will be filled in later
  var config = {
    type: "line",
    data: {
      labels: [],
      datasets: [{
        label: "min",
        backgroundColor: "rgba(50, 150, 240, 0.0)",
        borderColor: "rgba(140, 140, 140, 0.0)",
        borderWidth: 0,
        data: [],
        fill: false,
        radius: 0,
        lineTension: 0,
      }, {
        label: "avg",
        backgroundColor: "rgba(50, 150, 240, 0.8)",
        borderColor: "rgba(140, 140, 140, 1.0)",
        data: [],
        fill: "-1",
        lineTension: 0,
      }, {
        label: "max",
        backgroundColor: "rgba(240, 40, 40, 0.8)",
        borderColor: "rgba(140, 140, 140, 0.0)",
        borderWidth: 0,
        data: [],
        fill: "-1",
        line: false,
        radius: 0,
        lineTension: 0,
      },
      ]
    },
    options: {
      tooltips: {
        mode: 'index',
        intersect: false,
        displayColors: false,
      },
      responsive: true,
      title: {
        display: true,
        text: "Number of queued tests (min/avg/max) for {{ date.strftime('%Y-%m-%d') }}",
      },
      scales: {
        xAxes: [
          {
            type: "time",
            stacked: false,
            time: {
              tooltipFormat: "HH:mm",
              displayFormats: {
                hour: "H:mm"
              }
            },
            scaleLabel: {
              display: true,
              labelString: "Time"
            },
            ticks: {
              maxRotation: 0
            }
          }
        ],
        yAxes: [{
          stacked: false,
          scaleLabel: {
            display: true,
            labelString: "value"
          },
          ticks: {
            beginAtZero: true
          }
        }
        ]
      },
      pan: {
        enabled: true,
        mode: "x",
        speed: 10,
        threshold: 10
      },
      zoom: {
        enabled: true,
        drag: false,
        mode: "xy",
        limits: {
          max: 10,
          min: 0.5
        }
      }
    }
  };

  window.onload = function () {

    var ctx = document.getElementById("myChart").getContext("2d");

    {% for c in counts %}
    // label - min - avg - max
    config.data.labels.push(moment("{{ c[0].strftime('%Y-%m-%dT%H:%M:%S Z')}}").toDate())
    config.data.datasets[0].data.push('{{ c[1] }}')
    config.data.datasets[1].data.push('{{ c[2] }}')
    config.data.datasets[2].data.push('{{ c[3] }}')
    {% endfor %}

    window.myLine = new Chart(ctx, config);
  };
</script>
{% endif %}

{% endblock %}
